<h3><b>User Login</b><br><br></h3>

<%= form_for @user, url: login_path, method: :post do |f| %>
  Username: <%= f.text_field :username %><br><br>
  Password: <%= f.password_field :password %><br><br>
  <%= submit_tag "Log in" %> or <%= link_to "Sign up", new_user_path %>
<% end %>

<br>

<% if flash[:error] %>
  <p style="color: red"><%= flash[:error] %></p><br><br>
  <% end %>

<div class="image">
      <%= image_tag "https://www.freeiconspng.com/uploads/white-dice-png-2.png" %>
      </div>