add delete to this page
list of boardgames
list of reviews with a qualification

user.boardgames.each do |boardgame|
boardgame.name
boardgame.image_url
user.boardgames.review
boolean if the user owns the game
remove_from_my_collection button  



all personal information

bonus: user picture/boardgame icon


wishlist of games
boolean false

<h1><%= @user.full_name %></h1>
<h2><%= @user.username%></h2>

  <%= button_to "Edit User", edit_user_path(@user), method: "get"%><br>
  <%= button_to "Delete User", user_path(@user), method: "delete",  data: {confirm: "Are you sure?"} %><br>
  <%= button_to "Logout", logout_path, method: "delete" %><br>