<div class="columns is-centered mt-6">
  <div class="column is-half">
      <div class="box is-fullwidth has-background-info-dark">
        <article class="box">
          <div class="title has-text-centered">
           <b>Browse Category: <br> <%= @category.name %></b><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% if @category.boardgames.count == 0 %>
    <p class="subtitle is-danger">Sorry, currently no games in this category.</p>
<div class="action">
<br><%= button_to "Back to Search", '/', method: 'get', class:  "button has-background-primary-light"%>
</div>  <% else %>

<div class="action ">
<br><%= button_to "Back to Search", '/', method: 'get', class:  "button has-background-primary-light"%>
</div>

  <div class="grid">
    <% @category.boardgames.each do |boardgame| %>
      <div class="square">
        <div class="custom-box">
          <div class="table">
            <div class="table-cell">
              <% if boardgame.small_image %>
                  <%= link_to (image_tag boardgame.small_image, alt: "boardgame"), boardgame_path(boardgame) %><br>
                <% end %>
              <%= link_to boardgame.name, boardgame_path(boardgame) %><br>
              Players: <%= boardgame.min_players %> - <%= boardgame.max_players %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
 
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
