<div class="title ">
<b>Browse Category: <%= @category.name %></b><br><br>
</div>

<% if @category.boardgames.count == 0 %>
    <p class="subtitle is-danger">Sorry, currently no games in this category.</p>
<div class="action ">
<br><%= button_to "Back to Search", '/', method: 'get', class:  "button has-background-primary-dark"%>
</div>  <% else %>

<div class="action ">
<br><%= button_to "Back to Search", '/', method: 'get', class:  "button has-background-primary-dark"%>
</div><!--
    <% @category.boardgames.each do |boardgame| %>

    <% if boardgame.small_image %>
      <p><%= link_to (image_tag boardgame.small_image, alt: "boardgame"), boardgame_path(boardgame) %><br>
    <% end %>

    <%= link_to boardgame.name, boardgame_path(boardgame) %><br>
    Players: <%= boardgame.min_players %> - <%= boardgame.max_players %></p><br><br>

  <% end %>
<% end %>
-->


  <div class="grid">
    <% @category.boardgames.each do |boardgame| %>
      <div class="square">
        <div class="custom-box">
          <div class="table">
            <div class="table-cell">
              <% if boardgame.small_image %>
                  <%= link_to (image_tag boardgame.small_image, alt: "boardgame"), boardgame_path(boardgame) %><br>
                <% end %>
              <%= link_to boardgame.name, boardgame_path(boardgame) %><br>
              Players: <%= boardgame.min_players %> - <%= boardgame.max_players %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
