<h1 class="title">Welcome to your Social Boardgame Experience</h1>


<%= form_tag boardgames_path, :method => "get" do %>
  <%= label_tag(:name, "What game do you want to search for?") %>
  <%= text_field_tag :name %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label "Browse by Category" %>
  <%= f.collection_select :id, @categories, :id, :name %>
  <%= f.submit 'Browse', name: nil %>
<% end %><br>

<ul>
<% @boardgames.each do |b| %>

<li><%= link_to b.name, boardgame_path(b) %></li><br>

<li><%= link_to (image_tag b.small_image, alt: "boardgame"), boardgame_path(b) %>

<% if !b.categories.empty? %>
  <li>Category:<% b.categories.each do |e| %>
      <% if b.categories.count > 1 %>
       |
      <% end %>
      <%= link_to e.name, category_path(e) %>
      <% end %></li>
    <% end %>
  
<li><%== b.description.first(300) ...%></li>
<br><br>
<% end %>
<ul>
<br>
<p>Do you have an original boardgame?</p>
<p>Share your novel boardgame with the community</p>
<%= form_for @new_game do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :min_players %>
  <%= f.number_field :min_players %>
  <br>
  <%= f.label :max_players %>
  <%= f.number_field :max_players %>
  <br>
  <%= f.label :year_published %>
  <%= f.number_field :year_published %>
  <br>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <br>
  <%= f.label :publisher %>
  <%= f.text_field :publisher %>
  <br>
  <%= f.label 'Category' %>
  <%= f.collection_select :category_ids, @categories, :id, :name %>
  <br>
  <%= f.submit %>
<% end %>
