<a><img src=<%= @boardgame.image_url %> <%= @boardgame.name %> ></a>
<h1><%= @boardgame.name %></h1>

<h4>How many players: <%= (@boardgame.min_players != 0 ? @boardgame.min_players : 0) %> to <%= @boardgame.max_players %> </h4>
<h4>Year Published: <%= @boardgame.year_published %></h4>


<%= @desc %>
<br>
<ol>
<% @boardgame.user_reviews.each do |r| %>
<li>Review: <%= r.review %><br>Rating: <%= r.rating %></li>
<% end %>
</ol>

<%= form_tag user_boardgames_path do %>
  <%= hidden_field_tag :boardgame_id, @boardgame.id%>
  <%= submit_tag %>
<% end %>



<!--
reviews - render top thumbs review, link to the boardgames reviews on review page
description
image
players
published

add_to_my_collection -when clicked if not signed in it will kick to signin page
-->
