<br><%= button_to "Back to Search", '/', method: 'get' %><br><br>
<h4><b><%= @boardgame.name %></b></h4><br>
<% if @boardgame.medium_image %>
<a><img src=<%= @boardgame.medium_image %> <%= @boardgame.name %> ></a>
<% end %>

<h4>How many players: <%= (@boardgame.min_players != 0 ? @boardgame.min_players : 0) %> to <%= @boardgame.max_players %> </h4>
<h4>Year Published: <%= @boardgame.year_published %></h4>

<% if !@boardgame.categories.empty? %>
  <h4>Category: <% @boardgame.categories.each do |c| %>
      <% if @boardgame.categories.count > 1 %>
       |
      <% end %>
    <%= link_to c.name, category_path(c) %>
  <% end %>
<% end%><br><br></h4>

<%== @boardgame.description %>
<br><br>
<% if current_user %>
  <%= form_tag user_boardgames_path do %>
    <%= hidden_field_tag :boardgame_id, @boardgame.id%>
    <%= submit_tag "Add Game to User Collection" %>
  <% end %><br>
<% end %>
<ol>

<% if @boardgame.avg_rating != nil %>
<strong>Average User Rating: <%= @boardgame.avg_rating %><br><br></strong>
<% end %>


<% @boardgame.user_reviews.each do |r| %>
<p><b>Review:</b> <%= r.review %><br>
    <b>Rating:</b> <%= r.rating %></li><br>
    <i>Submitted By:</i> <%= r.user.full_name %></p><br>
<% end %>
</ol>

<% if !current_user %>
  <%= button_to "Log in to submit a review or add game to collection", login_path, method: "get"%>
<% end %>

<% if current_user %>
  <%= form_tag user_reviews_path do %>
    <b><%= label_tag "Write a Review:" %></b><br>
    <%= text_area_tag :review %><br>
    <b><%= label_tag "Rating:" %></b>
    <%= number_field_tag :rating, nil, :in => 1..10 %><br><br>
    <%= submit_tag "Submit Review" %>
    <%= hidden_field_tag :boardgame_id, @boardgame.id%>
  <% end %>
<% end %>






<!--
reviews - render top thumbs review, link to the boardgames reviews on review page
description
image
players
published

add_to_my_collection -when clicked if not signed in it will kick to signin page
-->
