<a><img src=<%= @boardgame.medium_image %> <%= @boardgame.name %> ></a>
<h1><%= @boardgame.name %></h1>

<h4>How many players: <%= (@boardgame.min_players != 0 ? @boardgame.min_players : 0) %> to <%= @boardgame.max_players %> </h4>
<h4>Year Published: <%= @boardgame.year_published %></h4>

<%== @boardgame.description %>
<br><br>
<%= form_tag user_boardgames_path do %>
  <%= hidden_field_tag :boardgame_id, @boardgame.id%>
  <%= submit_tag "Add Game to User Collection" %>
<% end %><br>
<ol>

<% if @boardgame.avg_rating != nil %>
<strong>Average User Rating: <%= @boardgame.avg_rating %><br><br></strong>
<% end %>


<% @boardgame.user_reviews.each do |r| %>
<p>Review: <%= r.review %><br>
    Rating: <%= r.rating %></li>
    Submitted By: <%= r.user.full_name %></p>
<% end %>
</ol>

<% if current_user %>
  <%= form_tag user_reviews_path do %>
    <%= label_tag "Write a Review:" %><br>
    <%= text_area_tag :review %><br>
    <%= label_tag "Rating:" %>
    <%= number_field_tag :rating, nil, :in => 1..10 %><br><br>
    <%= submit_tag "Submit Review" %>
    <%= hidden_field_tag :boardgame_id, @boardgame.id%>
  <% end %>
<% end %>






<!--
reviews - render top thumbs review, link to the boardgames reviews on review page
description
image
players
published

add_to_my_collection -when clicked if not signed in it will kick to signin page
-->
