<div class='nav-bar'>

<div class="title"><p>BoardgameSocial</p>
<ul>
<li class="subtitle"><%= link_to "Search", '/' %>
<% if !current_user %>
  <li class="subtitle"><%= link_to "Login", login_path %>
<% end %>
  <% if current_user %>
  <li class="subtitle"><%= link_to "Profile",  user_path(current_user) %>
<% end %>
<% if current_user %>
  <li class="subtitle"><%= link_to "Logout", logout_path, method: "delete" %>
<% end %>
<% if current_user %>
  <li class="subtitle"><strong><p style="color: MediumSpringGreen">Welcome, <%= current_user.first_name %>!</strong></p>
<% end %>
</ul>
</div>
</div>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
   <p style="color: red"><%= error %></p>
  <% end %>
<% end %>
